.home-screen-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #7785db;
  align-items: center;
  justify-content: center;
}

.home-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 552px;
  height: 680px;
  background-color: white;
  border-radius: 24px;
}

.shopping-bag-image {
  width: 220px;
  height: 220px;
}

.home-screen-title {
  max-width: 320px;
  text-align: center;
}

.home-screen-sub-title {
  max-width: 320px;
  text-align: center;
  margin-bottom: 48px;
}

.home-screen-sub-description {
  max-width: 452px;
  text-align: left;
  margin-bottom: 16px;
}

.home-screen-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 452px;
  margin-top: 24px;
}

@media screen and (max-width: 420px) {
  .home-screen-content-container {
    max-width: 290px;
    max-height: 600px;
    padding: 12px;
  }

  .home-screen-button-container {
    max-width: 290px;
    margin-top: 8px;
  }

  .shopping-bag-image {
    width: 160px;
    height: 220px;
  }

  .home-screen-sub-description {
    max-width: 255px;
  }

  .home-screen-title {
    max-width: 290px;
  }

  .home-screen-sub-title {
    max-width: 265px;
  }
}

@media screen and (max-width: 830px) {
  .home-screen-container {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
